vbody {
    background-color: #100f0f ;
    height: "100vh";
}

.attack-bg {
    height: 100vh;
    background: url(../../../assets/InGame/BgImg.png) no-repeat center;
    background-size: cover;
}

.attack-top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 1250px;

    margin-bottom: 50px;

}

.SpellBox {
    position: relative;
    display: inline-block;
}

.attack-bottom-itmes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SpellandBar {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.spell-bar-box {
    position: relative;
    display: inline-block;
    width: 800px;
}

.cardList {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    
    padding-left: 10px;    
}

.p2SkillEffects {
    display: inline-flex;
    transform: scaleX(-1);
}

.myCharacter, .yourCharacter{
    position: relative;
    top: 0;
    /* margin: 50px; */

    animation: UpDown 2s ease-in Infinite Alternate;
}


@keyframes UpDown {
    from {
        top: 0px;
    }
    to {
        top:50px;
    }
}

#origin {
    position: absolute;
    top: 130px;
    bottom: 100px;
    left: 60px;
    right: 50px;
    width: '100%';
    height: '100%';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';

    font-size: xx-large;
    font-weight: bolder;
    color: #fff;
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff;
}

.correct3{
    color: rgb(23, 205, 72);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99;
}

.correct2{
    color: rgb(205, 23, 23);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292;
}

.correct0{
    color: rgb(205, 184, 23);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92;
}

.correct1{
    color: rgb(23, 47, 205);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced;
}

/* .stormSpell-correct{
    color: rgb(156, 205, 23);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #c9ed92,
        0 0 10px #edde92,
        0 0 10px #edde92,
        0 0 10px #edde92,
        0 0 10px #edde92,
        0 0 10px #edde92;
} */

.correct4{
    color: rgb(28, 28, 28);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848;
}

.correct5{
    color: rgb(28, 28, 28);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848;
}

#percent {
    color: white;
}

.otherSpellParticle{
    height: 100vh;
    width: 100vw;
    /* z-index: 1000; */
}

.hiddenEffect {
    visibility: hidden;
}