.attack-bg {
    height: 100vh;
    background: url(../../../assets/InGame/BgImg.png) no-repeat center;
    background-size: cover;
}

.attack-top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 1250px;

    margin-bottom: 50px;
    /* padding-top: 20px; */
}

.attack-bottom-itmes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .first-hp-box {
    display: flex;
    align-items: center;
} */

.second-hp-box {

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.SpellBox {
    position: relative;
    display: inline-block;
}

#origin {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    width: '100%';
    height: '100%';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';

    font-size: xx-large;
    font-weight: bolder;
    color: #fff;
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff;
}

.wind3-correct{
    color: rgb(23, 205, 72);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99;
}

.fire1-correct{
    color: rgb(205, 23, 23);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292;
}

.wind1-correct{
    color: rgb(205, 184, 23);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92;
}

.ice1-correct{
    color: rgb(23, 47, 205);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced;
}

.storm1-correct{
    color: rgb(156, 205, 23);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #c9ed92,
        0 0 10px #edde92,
        0 0 10px #edde92,
        0 0 10px #edde92,
        0 0 10px #edde92,
        0 0 10px #edde92;
}

.light1-correct{
    color: rgb(28, 28, 28);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848;
}

.dark1-correct{
    color: rgb(28, 28, 28);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848;
}

.spell-bar-box {
    position: relative;
    display: inline-block;

    width: 800px;
}

.spells {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    
    padding-left: 10px;    
}

#percent {
    color: white;
}