vbody {
    background-color: #100f0f ;
    height: "100vh";
}

.SpellBox {
    position: relative;
    display: inline-block;
}

#origin {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    width: '100%';
    height: '100%';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';

    font-size: xx-large;
    font-weight: bolder;
    color: #fff;
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff;
}

.windSpell-correct{
    color: rgb(23, 205, 72);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99,
        0 0 10px #92ed99;
}

.fireSpell-correct{
    color: rgb(205, 23, 23);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292,
        0 0 10px #ed9292;
}

.sparkSpell-correct{
    color: rgb(205, 184, 23);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92,
        0 0 10px #e7ed92;
}

.iceSpell-correct{
    color: rgb(23, 47, 205);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced,
        0 0 10px #92bced;
}

.stormSpell-correct{
    color: rgb(156, 205, 23);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #c9ed92,
        0 0 10px #edde92,
        0 0 10px #edde92,
        0 0 10px #edde92,
        0 0 10px #edde92,
        0 0 10px #edde92;
}

.lightSpell-correct{
    color: rgb(28, 28, 28);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848;
}

.darkSpell-correct{
    color: rgb(28, 28, 28);
    text-shadow:
        0 0 2px rgb(0, 0, 0),
        0 0 2px rgb(0, 0, 0),
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848,
        0 0 10px #484848;
}

#percent {
    color: white;
}
