.box {
  width: 100wh;
  height: 100vh;
  background-image: url("~@/assets/settle/battle-background.png");
  background-size: cover;
  position: relative;
}
.box2 {
  width: 100wh;
  height: 100vh;
  background-image: url("~@/assets/settle/battle-background.png");
  background-size: cover;
  position: relative;
  animation: shakebg 0.2s infinite;
  animation-delay: 2s;
}
@keyframes shakebg {
  0% {
    left: 0;
  }
  25% {
    left: -3px;
  }
  50% {
    left: 0;
  }
  75% {
    left: 3px;
  }
  100% {
    left: 0;
  }
}

.cha1 {
  position: absolute;
  height: 450px;

  top: 400px;
  left: 180px;
}

.cha2 {
  position: absolute;
  height: 450px;
  top: 400px;
  right: 180px;
}
.cha2-shake {
  position: absolute;
  height: 450px;
  top: 400px;
  right: 180px;
  animation: shakecha 2s, blink-effect 1s step-end 3;
  filter: brightness(20%);
}

@keyframes shakecha {
  2% {
    transform: translateX(40px);
  }

  8% {
    transform: translateX(0px);
  }
  11% {
    transform: translateX(110px);
  }
  /* 17% {
		transform:translateX(110px);
	} */

  60% {
    transform: translateX(0);
  }
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.hp-box {
  box-sizing: border-box;

  /* position: absolute; */
  width: 476px;
  height: 57px;
  left: 166px;
  top: 58px;

  background: #fff500;
  border: 1.3px solid #ffffff;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
  border-radius: 14px;
}
