.settle-bg {
    height: 100vh;
    background: url(../../assets/InGame/BgImg.png) no-repeat center;
    background-size: cover;
}

.hp-box {
    /* position: relative; */
    /* display: inline-block; */
}

.hp-bar {
    box-sizing: border-box;

    /* position: absolute; */
    width: 476px;
    height: 57px;
    /* left: 0; */
    /* top: 7px; */

    background: #FFF500;
    border: 1.3px solid #FFFFFF;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
    border-radius: 14px;
}