.coin-flipper {
    position: absolute;
    top:0;
}

.vs {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40vw;
    font-size: 12pt;
}

.character{
  
}

.player-info {
    position: absolute;
    bottom: 0;
}

.player-info img{
    width: 100%;
    padding: 0 0;
}


.player1 {
    position: absolute;
    bottom: 0;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    text-shadow: 1px 0 #FB7F96, 0 1px #FB7F96, 1px 0 #FB7F96, 0 1px #FB7F96;
}

.player2 {
    position: absolute;
    bottom: 0;
    /* padding: 10px 0px 60px 0px;
    width: 100%; */
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: right;
    text-shadow: 1px 0 #76A2F9, 0 1px #76A2F9, 1px 0 #76A2F9, 0 1px #76A2F9;
}
.upper-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.player1 div, .player2 div {
    font-size: 24pt;
}