body {
  margin: 0;
  font-family: "HeirofLightBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(180deg, #2F374B 0%, rgba(14, 18, 32, 0.951248) 99.97%, rgba(1, 4, 16, 0.933153) 99.98%, rgba(17, 9, 36, 0.598958) 99.99%, #4A7AC8 100%);
  color: white;
}
.mouse-hover{
  cursor:pointer;
}
.modalBg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  background-color: rgba(34, 34, 34, 0.482);
}
button {
  cursor:pointer;
}
@font-face {
  font-family: "HeirofLightBold";
  src: url("./assets/font/HeirofLightBold.ttf")
}

@font-face {
  font-family: "HeirofLightRegular";
  src: url("./assets/font/HeirofLightRegular.ttf")
}